<h1>Test#index</h1>
<p>Find me in app/views/blorgh/test/index.html.erb</p>


<button data-reflex="click->Blorgh::Dice#roll">Test</button>

<div id="diceRoll" style="margin-top: 1em;">
  click the button
</div>